# Git
.git
.gitignore

# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Local environment variables
.env

# Local databases and media
db.sqlite3
media/
staticfiles/

# IDE
.idea/
.vscode/

# Tests / coverage
.coverage
htmlcov/
.pytest_cache/

# OS files
.DS_Store
Thumbs.db

.env.docker